.cell {
  user-select: none;

  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 2px solid #c0c0c0;

  &-ok {
    background-color: #76ca6e;
    border-color: #76ca6e;
    color: white;
  }

  &-focused {
    border-radius: 2px;
    border: 2px solid black;
  }

  &:nth-child(3n) {
    margin-right: 1rem;
  }
  &:nth-child(9n) {
    margin-right: 0rem;
  }
}