@import './../../App.scss';

nav {
  padding-block: 1rem;

  .fa-repeat {
    margin-left: .4rem;
  }

  .diff-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    transition: 1s;
    transform: translateY(-100vh);

    li {
      cursor: pointer;
      user-select: none;
      font-size: 32px;
      font-weight: 600;
      text-align: center;

      &:last-child {
        font-size: 48px;
        text-align: right;
        margin-bottom: 2rem;
      }
    }
    
    &-open {
      transform: none;
    }
  }

  .nav-error {
    font-size: 20px;
    font-weight: 600;
    color: $clr-red;
    min-width: 2.4rem;
  }
  
  .dark-icon {
    font-size: 24px;
    width: 50px;

    .fa-moon {
      display: inline;
    }
    .fa-sun {
      display: none;
    }
  }
}

.dark-theme {
  nav {
    button {
      color: white;
    }

    .diff-menu {
      background-color: $clr-dark-grey;
    }

    .dark-icon {
      border-color: white;

      .fa-moon {
        display: none;
      }

      .fa-sun {
        display: inline;
      }
    }

  }
}